/* حجم حاوية السلايدر */
.swiper-container {
    width: 100%;
    height: 300px;
    margin: 20px auto;
}

/* تنسيق الشرائح */
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}

/* تنسيق الصور داخل الشرائح */
.swiper-slide img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
